.nav-bar {
	display: inline;
	justify-content: space-around;
}
.left-nav-bar {
	float: left;
}
.nav-icon {
	padding-right: 35px;
}
.space-cosmos {
	padding-left: 35px;
	padding-right: 295px;
	font-weight: 700;
	cursor: pointer;
	line-height: 30px;
	font-family: nyt-franklin, helvetica, arial, sans-serif;
}
.space-cosmos a {
	color: black;
	text-decoration: none;
}
.right-nav-bar {
	float: right;
	margin-top: -24px;
}
.center-nav-bar {
	cursor: pointer;
	padding-left: 70px;
	margin-top: 20px;
}
.blue-btn {
	color: white;
	border: 1px solid;
	padding: 7px;
	background-color: #567b95;
	border-radius: 4px;
	cursor: pointer;
	font-family: nyt-franklin, helvetica, arial, sans-serif;
	margin-top: -5px;
}
.space-ripples {
	text-align: center;
	font-family: cheltenham, georgia, 'times new roman', times, serif;
	font-style: italic;
  	font-size: 40px;
  	font-weight: 700;
  	line-height: 48px;
  	color: rgb(18, 18, 18);
}

.big-picture {
	height: 550px;
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 80%;
}
.alan-guth {
	margin-left: 116px;
	text-align: justify;
	display: block;
	font-family: nyt-imperial, georgia, "times new roman", times, serif;
	font-size: 16px;
	font-weight: 400;
	line-height: 20px;
	color: rgb(102, 102, 102);
}
.alan-guth small {
	font-family: nyt-imperial, georgia, "times new roman", times, serif;
	font-size: 13px;
	font-weight: 400;
	line-height: 18px;
	color: rgb(136, 136, 136);
}
.by {
	font-family: nyt-franklin, helvetica, arial, sans-serif;
	font-size: 15px;
	font-weight: 700;
	line-height: 20px;
	color: rgb(51, 51, 51);
	margin-left: 154px;
}
.by-span {
	text-decoration: none;
}
.by a {
	color: rgb(51, 51, 51);
}
.by a:hover {
	text-decoration: none;
}
.date {
	font-family: nyt-franklin, helvetica, arial, sans-serif;
	font-size: 13px;
	font-weight: 500;
	line-height: 16px;
	color: rgb(51, 51, 51);
	margin-left: 154px;
	float: left;
}
.left-social-bar {
	float: right;
	padding: 0;
	margin-top: -30px;
}
.left-social-bar .social-icons {
	list-style: none;
	margin-left: 254px;
	position: relative;
}
.left-social-bar .social-icons .icons {
	display: inline-block;
	margin-left: 15px;
}
.social-icons {
	margin-right: 200px;
}
.social-icons .fab, .social-icons .fas {
	font-size: 14px;
	color: #000;
	background-color: rgb(239, 239, 239);
	padding: 10px;
	border-radius: 50%;
}
.social-icons .fa-facebook-f {
	padding: 10px 12px;
}
.social-icons .far {
	font-size: 33px;
	position: relative;
	top: 7px;
	color: #000;
}

.social-icons .icons {
/* 	transform: rotate(360deg); */
}

.icons-bookmark {
  margin-bottom: -5px;
}

.icons-comment {
  margin-bottom: -10px;
}
.clear {
	clear: both;
}
.main-article-paragraphs {
	margin-top: 20px;
}

.main-article-paragraphs iframe {
  margin-left: 320px;
}
.main-article-paragraphs p {
	font-family: georgia, serif;
	font-size: 20px;
	color: #333;
	margin-bottom: 15px;
	line-height: 30px;
	font-weight: 400;
	color: rgb(51, 51, 51);
	margin: auto;
	width: 50%;
	padding: 10px;
}
.main-article-paragraphs p a {
	color: rgb(50, 104, 145)
}
.main-article-paragraphs p a:hover {
	text-decoration: none;
}
.advert-line {
	width: 70px;
	margin: auto;
	opacity: 0.5;
}
.advert {
	margin: 20px 0;
	text-align: center;
	font-family: arial, serif;
	font-weight: 700;
	font-size: 14px;
	line-height: 19px;
}
.advert .advert-link {
	text-decoration: none;
	color: rgb(50, 104, 145);
}
.clear {
	clear: both;
}
.paragraph-title {
	font-family: nyt-imperial, georgia, "times new roman", times, serif;
	font-size: 20px;
	color: #333;
	margin-bottom: 15px;
	line-height: 30px;
	font-weight: 700;
	color: rgb(51, 51, 51);
	margin: auto;
	width: 50%;
	padding: 10px;
}
.inflation-title {
	font-family: nyt-imperial, georgia, "times new roman", times, serif;
	font-size: 22px;
	font-weight: 700;
	line-height: 30px;
	color: rgb(51, 51, 51);
}
.inflation-container {
  margin-left: 150px;
	font-family: nyt-imperial, georgia, "times new roman", times, serif;
	font-size: 14px;
	/* font-weight: 300; */
	line-height: 17px;
	color: rgb(51, 51, 51);

}

.inflation-container>p {
  margin-top: -25px;
  text-align: justify;
	display: block;
	font-family: nyt-imperial, georgia, "times new roman", times, serif;
	font-size: .875rem;
  font-style: normal;
	font-weight: 400;
	line-height: 1.125rem;
	color: rgb(102, 102, 102);
  
}

.inflation-image {
  	height: 560px;
	display: block;
	margin-right: auto;
	width: 80.75%;

}

.inflation-paragraph-first {
  display: inline-block;
	vertical-align: top;
	font-size: 14px;
	font-weight: 300;
	font-family: nyt-franklin,arial,helvetica,sans-serif;
	word-spacing: 3px;
  margin-top: -430px;
	padding-top: 20px;
	padding-bottom: 100px;
  padding-right: 10px;
	height: 130px;
	width: 18.75%;
	line-height: 15px;
	font-style: normal;
}

.inflation-paragraph-second {
  display: inline-block;
	vertical-align: top;
	font-size: 14px;
	font-weight: 300;
	font-family: nyt-franklin,arial,helvetica,sans-serif;
	word-spacing: 3px;
  margin-top: -170px;
	padding-top: 20px;
	padding-bottom: 100px;
  padding-right: 20px;
	height: 130px;
	width: 18.75%;
	line-height: 15px;
	font-style: normal;
}

.theory-line {
	width: 6%;
  margin-top: -46px;
  margin-left: 150px;
}
.theory-author {
	font-weight: 540;
	font-size: 14px;
	font-family: Arial, Helvetica, sans-serif;
  margin-left: 150px;
}
/* .video {
  margin: auto;
} */
.telescope {
	width: 50%;
	margin: 50px auto;
}
.telescope img {
	width: 100%;
	height: auto;
}
.telescope .tele-cap {
	font-family: nyt-imperial, georgia, "times new roman", times, serif;
	font-size: 15px;
	font-weight: 400;
	line-height: 20px;
	color: rgb(102, 102, 102);
}
.telescope .tele-cap small {
	font-family: nyt-imperial, georgia, "times new roman", times, serif;
	font-size: 13px;
	font-weight: 400;
	line-height: 18px;
	color: rgb(136, 136, 136);
}

.article-footer {
  font-family: nyt-franklin, helvetica, arial, sans-serif;

  font-size: 12px;

  font-weight: 400;

  line-height: 16px;

  color: rgb(102, 102, 102);
  margin-left: 320px;
  vertical-align: baseline;
}

.article-footer-link {
    color: rgb(102, 102, 102);
}

.article-footer time {
    font-weight:500;
}


.article-footer-link:hover {
  	text-decoration: none;
}

.comments-container {
  margin-left: 320px;
}

.comments-btn {
  float: left;
  font-weight: 600;
  letter-spacing: 0.05em;
  margin-top: 30px;
  color: white;
	border: 1px solid;
	padding: 10px;
	background-color: #567b95;
	border-radius: 4px;
	cursor: pointer;
	font-family: nyt-franklin, helvetica, arial, sans-serif;
  width: 36%;
}

.left-media-bar {
	float: right; 
  padding-top: 14px;
  margin-bottom: -60px; 
  
}

.social-icons-bottom {
  list-style: none;
  margin-left: -530px;
}

.social-icons-bottom > li {
   display: inline-block;
}

.social-icons-bottom .fab, .social-icons-bottom .fas {
	color: #000;
	background-color: rgb(239, 239, 239);
	padding: 10px;
	border-radius: 100%;
  margin-right: 10px;
  width: 15px;
  height: 15px;
  vertical-align: middle;
}
.social-icons-bottom .fa-facebook-f {
	padding-right: 5px;
}